* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Momo Trust Display", sans-serif;
    background: linear-gradient(hsla(177, 63%, 37%, 0.658), rgb(126, 176, 252));
    min-height: 100vh;
    font-size: 16px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

/* header */
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    color: hsl(0, 100%, 100%);
    border: 1px solid hsla(209, 63%, 39%, 0.288);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background-color: rgba(194, 225, 238, 0.26);
    box-shadow: 4px 4px 8px rgba(83, 122, 139, 0.568);
}

h2 {
    margin: 0;
}

.logo-page {
    width: 50px;
    height: auto;
}

.page-title {
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
}

/* main */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* sessions */
.sessions {
    font-size: 1rem;
    border: 1px solid rgb(135, 222, 238);
    border-radius: 3rem;
    padding: 0.5rem;
    background-color: hsla(208, 71%, 45%, 0.397);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem
}



.session-icon {
    width: 40px;
    transform: translateY(-4px);
}

.session-state {
    font-size: 1rem;
}
/* flip-clock */

.digital-clock {
    width: 100%;
    min-height: 150px;
    margin-top: 1rem;
    font-size: 4rem;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    letter-spacing: 2px;
    border: 1px solid hsla(209, 63%, 39%, 0.288);
    border-radius: 0.5rem;
    background-color: rgba(194, 225, 238, 0.26);
    box-shadow: 4px 4px 8px rgba(83, 122, 139, 0.568);
    padding: 2rem 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.timer-control {
    display: flex;
}

.time-control {
    border: 1px solid rgb(135, 222, 238);
    border-radius: 1rem;
    padding: 1rem;
    background-color: hsla(208, 71%, 45%, 0.397);
    box-shadow: 4px 4px 8px hsla(197, 46%, 40%, 0.527);
}

.control-icon {
    height: 2.5rem;
    width: 204rem;;
    width: auto;
    fill: rgb(255, 255, 255);
    display: none;
}

.active {
    display: block;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120px;
}

/* session control */
.session-control {
    width: 100%;
    min-height: 150px;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    letter-spacing: 2px;
    border: 1px solid hsla(209, 63%, 39%, 0.288);
    border-radius: 0.5rem;
    background-color: rgba(194, 225, 238, 0.26);
    box-shadow: 4px 4px 8px rgba(83, 122, 139, 0.568);
    padding: 2rem 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.pomodoro-setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

select {
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    margin-top: 1rem;
    font-weight: 400;
    color: hsl(209, 87%, 50%);
    font-family: "Momo Trust Display", sans-serif;
}

.pomodoro-apply button {
    border: 1px solid rgb(135, 222, 238);
    border-radius: 1rem;
    padding: 1rem;
    background-color: hsla(208, 71%, 45%, 0.397);
    box-shadow: 4px 4px 8px hsla(197, 46%, 40%, 0.527);

    font-family: inherit;
    color: white;
}

.pomodoro-apply>button:hover{
    color: rgb(0, 0, 0);
    background-color: hsla(202, 48%, 76%, 0.459);
}

.attributes {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    color: white;
}

.attributes a {
    text-decoration: none;
    color: rgb(0, 119, 255);
}

/* Toast */
.toast {
    position: absolute;
    right: 1rem;
    top: 1rem;
    min-width: 300px;
}

#toast-img {
    width: 30px;
    height: 30px;
}


@media screen and (min-width: 800px) {
    body {
        padding: 1rem 35%;
    }

    .sessions {
        width: auto;
        padding: 0.5rem 1rem;
    }

    label {
        min-height: 100px;
    }
}