* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Momo Trust Display", sans-serif;
    background: linear-gradient(hsla(177, 63%, 37%, 0.658), rgb(126, 176, 252));
    min-height: 100vh;
    font-size: 18px;
    padding: 2rem;
}

/* header */
header {
    display: flex;
    gap: 1rem;

    color: hsl(0, 100%, 100%);
    border: 1px solid hsla(209, 63%, 39%, 0.288);
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(194, 225, 238, 0.26);
    box-shadow: 4px 4px 8px rgba(83, 122, 139, 0.568);
}

.logo-page {
    width: 50px;
    height: auto;
}

.page-title {
    letter-spacing: 0.2rem;
}

/* main */
main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* flip-clock */

.digital-clock {
    width: 100%;
    aspect-ratio: 2/1;
    margin-top: 1rem;
    font-size: 5rem;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    letter-spacing: 2px;
    border: 1px solid hsla(209, 63%, 39%, 0.288);
    border-radius: 0.5rem;
    background-color: rgba(194, 225, 238, 0.26);
    box-shadow: 4px 4px 8px rgba(83, 122, 139, 0.568);

    display: flex;
    align-items: center;
    justify-content: center;
}